.abouttext {
  background-color: rgb(10, 10, 10);
}

#root {
  background-color: rgb(3, 3, 3);
  color: white;
}

#logo {
  width: 100px;
  height: 100px;
}

#ivaresume {
  width: 600px;
  height: 700px;
  justify-content: center;
}
